@import "tailwindcss";

:root {
  --primary: #C2DC54;
  --background: #04041B;
}

@font-face {
  font-family: Halton;
  font-style: normal;
  src: url("/fonts/Halton.woff2");
}

@font-face {
  font-family: Halton Light italic;
  font-style: normal;
  src: url("/fonts/Halton-light-italic.woff2");
}

@font-face {
  font-family: Drain Monten Oblique;
  font-style: normal;
  src: url("/fonts/Drain-Monten-Oblique.woff2");
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --font-body: "Halton", sans-serif;
  --font-body-light-italic: "Halton Light italic", sans-serif;
  --font-display: "Drain Monten Oblique", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #C2DC54;
    --background: #04041B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Halton", sans-serif;
}
